
<div class="header">
 <div class="container">
        <div class="logo">
  <img src="/assets/images/GoRed.png" class="logo" style="height: 150px; width: 300px;"/>
        </div>
</div>

<ul ngbNav #nav="ngbNav" class="nav-tabs">


    <li ngbNavItem>
      <a ngbNavLink class="header-link" href="#" routerLink="/home" routerLinkActive="active">Home</a>
      <ng-template ngbNavContent>HOME</ng-template>
    </li>
    <li ngbNavItem>
      <a ngbNavLink class="header-link" href="#" routerLink="/products" routerLinkActive="active">Products</a>
      <ng-template ngbNavContent>PRODUCT PAGE</ng-template>
    </li>
      
      <li ngbNavItem>
        <a ngbNavLink class="header-link" href="#" routerLink="/checkout" routerLinkActive="active">CART <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16">
        </svg></a>
        <ng-template ngbNavContent>Let's CheckOut !</ng-template>
      </li>
      <li ngbNavItem>
        <a ngbNavLink class="header-link" href="#" routerLink="/profile" routerLinkActive="active">PROFILE <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16">
        </svg></a>
        <ng-template ngbNavContent>PROFILE PAGE</ng-template>
      </li>
      
      <li ngbNavItem class="sign-in">
        <a ngbNavLink class="header-link" href="#" routerLink="/login" routerLinkActive="active">LOG IN <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
        </svg></a>
        <ng-template ngbNavContent>LOG-IN PAGE</ng-template>
      </li>

  </ul>
  <div [ngbNavOutlet]="nav"></div>


</div>