.nav {
    justify-content: center;
    background-color:red;
    border: 2px solid black;
    color: black;
}

.header-link{
    color: black;
}


.logo{

    align-items: center;
    align-content: center;
    justify-content: center;
    margin-left: 220px;
}

