
<div class="header">
 <div class="container">
        <div class="logo">
  <img src="/assets/images/GoRed.png" class="logo" style="height: 150px; width: 300px;"/>
        </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-red">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a class="nav-link" (click)="homeClicked()">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="productsClicked()">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="cartClicked()">Cart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="profileClicked()">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="loginClicked()">Login</a>
      </li>
    </ul>
  </div>
</nav>

</div>