
<div class="header"></div>

<p>header works!</p>

<ul ngbNav #nav="ngbNav" class="nav-tabs">
    <li ngbNavItem>
      <a ngbNavLink>Home</a>
      <ng-template ngbNavContent>First content</ng-template>
    </li>
    <li ngbNavItem>
      <a ngbNavLink>Products</a>
      <ng-template ngbNavContent>Second content</ng-template>
    </li>
    <li ngbNavItem>
        <a ngbNavLink>About Us</a>
        <ng-template ngbNavContent>Second content</ng-template>
      </li>
      <li ngbNavItem>
        <a ngbNavLink>Gift Cards</a>
        <ng-template ngbNavContent>Second content</ng-template>
      </li>
      <li ngbNavItem>
        <a ngbNavLink>Outdoor Tips</a>
        <ng-template ngbNavContent>Second content</ng-template>
      </li>
      <li ngbNavItem>
        <a ngbNavLink>Help</a>
        <ng-template ngbNavContent>Second content</ng-template>
      </li>
      <li ngbNavItem class="sign-in">
        <a ngbNavLink >SIGN IN</a>
        <ng-template ngbNavContent>Second content</ng-template>
      </li>
      <li ngbNavItem>
        <a ngbNavLink class="sign-in">(CART)</a>
        <ng-template ngbNavContent>Second content</ng-template>
      </li>

  </ul>
  <div [ngbNavOutlet]="nav"></div>