.nav-item-welcome{
    text-align: right;
    color: black;
    font-size: large;
    padding-right: 50px;
}

.navbar-collapse{
    padding-left: 40%;
    
}
.nav-link{
    color: black;
    font-size: large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}




