

.footer {
    position: absolute;
    margin-bottom:-420px;
    width:100%;
    height:40px;
    border: 4px solid red;
    justify-content: space-evenly;
    left: 0; right: 0; bottom: 0;
   background-color: red;
}