<div class="container" *ngIf="!editProductView">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Image</th>
                <th>Category</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of productsData; trackBy: trackElement">
                <td><span>{{product.product_id}}</span></td>
                <td><span>{{product.name}}</span></td>
                <td><span>{{product.description}}</span></td>
                <td><span>{{product.price}}</span></td>
                <td><span>{{product.imageUrl}}</span></td>
                <td><span>{{product.category}}</span></td>
                <td><span>{{product.quantity}}</span></td>
                <td>
                    <button class="btn btn-sm btn-primary" (click)="addProductToCart(product.product_id)" *ngIf="role ==='customer'">
                        <i class="fa fa-cart-plus" >Add to cart</i>
                    </button>
                    <button class="btn btn-sm btn-warning" (click)="editProduct(product.product_id)" *ngIf="role ==='product master'">
                        <i class="fa fa-edit" >Edit</i>
                    </button>
                    <button class="btn btn-sm btn-danger" (click)="deleteProduct(product.product_id)" *ngIf="role ==='product master'">
                        <i class="fa fa-remove">Delete</i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="container" *ngIf="editProductView">
    <app-edit-product></app-edit-product>
</div>

