<div class="container">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of userProductData;">
                <td><span>{{userProductData.name}}</span></td>
                <td><span>{{userProductData.description}}</span></td>
                <td><span>{{userProductData.price}}</span></td>
                <td><span>{{userProductData.imageUrl}}</span></td>
                <td>
                    <button class="btn btn-sm btn-primary" (click)="removeProductFromCart(userProductData.product_id)">
                        <i class="fa fa-remove" >Remove</i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="container">
    <button class="btn btn-sm btn-primary">
        <i class="fa fa-cash-register" >Checkout</i>
    </button>
</div>
