

.productForm {
    background-color: rgb(16, 148, 16);
    font-weight: bold;
    font-size: medium;
    padding: 20px 10px 10px;
    width: 40%;
    border: 4px solid black;
    margin: auto;
    align-content: center;

}

.button {
    padding: 8px;
    border: 2px solid black;
    margin: 4px;
}