
<div class="flex-container">
    <app-header [userLoggedStatus] = "userLoggedInMessage" (messageEvent)="recieveMessage($event)"></app-header>
</div>
<div *ngIf="loggedUser">
    <h2>Welcome {{currentUser.userName}}, Enjoy shopping with us </h2>
</div>
<div  *ngIf="showHome">
    <app-main></app-main>
</div>
<div  *ngIf="showCart">
    <!-- [userCartProducts]="userCartProducts" -->
    <app-cart  [userEmail]="userEmail"></app-cart>
</div>
<div *ngIf="showProducts">
    <app-product [userEmailForList]="userEmail" [userRole] ="userRole"></app-product>
</div>
<div  *ngIf="showLogin" >
    <app-log-in></app-log-in>
</div>
<div *ngIf="showProfile">
    <app-profile [wishList]="wishList" [users]="users" [currentUser]="currentUser"></app-profile>
</div>


<!-- <router-outlet></router-outlet> -->


<div class = "flex-container">
    <app-footer></app-footer>
</div>

