<div class="row">
    <div class="col s8 offset-s2">
        <div class="card">
            <div class="sm-jumbotron center-align">
                <h2>User Registration</h2>
            </div>
            <form class="col s12 white" #userRegistrationForm="ngForm">
                <div class="row">
                    <div class="input-field col s6">
                        <input class="validate" type="text" name="UserName" #UserName="ngModel" [(ngModel)]="user.userName" required>
                        <label data-error="Required field!">UserName</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input class="validate" type="password" name="Password" #Password="ngModel" [(ngModel)]="user.password" required minlength="8">
                        <label [attr.data-error]="Password.errors!=null?(Password.errors.required?'Required field!':'Minimum 8 Characters needed'):''">Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input class="validate" type="text" name="Email" #Email="ngModel" [(ngModel)]="user.email" [pattern]="emailPattern" required>
                        <label [attr.data-error]="Email.errors!=null?(Email.errors.required?'Required field!':'Invalid Email!'):''">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <button [disabled]="!userRegistrationForm.valid" class="btn-large btn-submit" type="submit" (click)="addUser()">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

