

<div class="signUpForm">
    
    <form #myForm="ngForm">
    
        <div class="FormGroup">
    
            <label for="email">Email:</label>
            <input #fNameTemp="ngModel" type="text" name="email" class="form-control" [(ngModel)]= "user.email">
            
        </div>
        <br>
    
    
        <div class="FormGroup">
    
            <label for="phoneNumber">Phone Number: </label>
            <input type="number" name="phoneNumber" class="form-control" [(ngModel)]= "user.phoneNumber">
    
        </div>
        <br>
    
    
        <div class="FormGroup">
    
            <label for="Password">Password: </label>
            <input type="text" name="Password" class="form-control" [(ngModel)]= "user.password">
    
        </div>
        <br>


        <div class="FormGroup">
    
            <label for="confirmPass">Confirm Password: </label>
            <input type="text" name="confrimPass" class="form-control">
    
        </div>
        <br>

    
        
        <button type="submit" class="button"> Sign Up </button>
      
    
    </form>
    </div>