.float-container {
    border: 3px solid #fff;
    padding: 20px;
    
}

.float-main-child {
    width: 15%;
    float: left;
    padding: 20px;
    border: 2px solid red;
} 

.float-side-child{
    width: 85%;
    float: left;
    padding: 20px;
    border: 2px solid red;
}

.flex-container {
    display:flow-root;
}

