


<div class="loginForm">
    
    <form #myForm="ngForm">
    
        <div class="FormGroup">
    
            <label for="email">Email:</label>
            <input #fNameTemp="ngModel" type="text" name="email" class="form-control" [(ngModel)]= "user.email">
            
        </div>
        <br>
    
    
        <div class="FormGroup">
    
            <label for="phoneNumber">Phone Number: </label>
            <input type="number" name="phoneNumber" class="form-control" [(ngModel)]= "user.phoneNumber">
    
        </div>
        <br>
    
    
        <div class="FormGroup">
    
            <label for="password">Password: </label>
            <input type="text" name="password" class="form-control" [(ngModel)]= "user.password">
    
        </div>
        <br>

    
    
        <button type="submit"> Log In </button>

        <button type="submit" class="button" href="#" routerLink="/signup" routerLinkActive="active"> Sign Up </button>
      
        <ul>
            <li  *ngFor="let data of returnData" style="list-style: none;">{{data.name}}</li>
        </ul>
    </form>
    </div>


    