


<aside class="side-menu">
    <div>
        <h4>Search By Name: </h4>
        <input type="text" placeholder="Search"><br><br>

        <h4>Select Category: </h4>
          <input type="checkbox"><a href="#" id="link"> Camping</a><br>
          <input type="checkbox"><a href="#" id="link"> Mountaineering</a><br>
          <input type="checkbox"><a href="#" id="link"> Outdoors</a><br>
          <input type="checkbox"><a href="#" id="link"> Personal</a><br>
          <input type="checkbox"><a href="#" id="link"> Golf</a><br><br>

      <h4>Price:</h4>
          <input type="checkbox"><a href="#" id="link"> Low to High</a><br>
          <input type="checkbox"><a href="#" id="link"> High to Low</a><br>
          <input type="checkbox"><a href="#" id="link"> A-Z</a><br>
          <input type="checkbox"><a href="#" id="link"> SALE</a><br><br>
     
    </div>
</aside>